@model evangelist_site.ViewModels.LinksViewModels.IndexViewModel

@{
    ViewData["Title"] = "Links";
}

<div class="jumbotron jumbotron-resources">
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <p>I create lots of stuff which you can use, copy, change, contribute to.</p>
        <p>Slides, videos, repos, articles, apps.</p>
    </div>
</div>

@foreach (var resourceGroup in Model.ResourceGroups)
{
    <a href="#" name="@resourceGroup.Title"></a>
    <div class="container-fluid @resourceGroup.CssClass">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>@resourceGroup.Title</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>@resourceGroup.Description</p>
                    <p><a href="/links/@resourceGroup.Url" title="@resourceGroup.Title" class="btn btn-default btn-default">See all links <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                </div>
                <div class="col-md-6">
                    <img src="@resourceGroup.ImageUrl" class="img-responsive hidden-xs" alt="A picture of @resourceGroup.Title">
                </div>
            </div>
            @*<div class="row">
                <div class="col-md-12">
                    <h2>@resourceGroup.Title</h2>
                    <p>@resourceGroup.Description</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 hidden-xs">
                    <img src="@resourceGroup.ImageUrl" class="img-responsive hidden-xs" alt="A picture of @resourceGroup.Title">
                </div>
                <div class="col-md-8">
                    <ul class="list-unstyled">
                        @foreach (var resource in resourceGroup.Resources)
                        {
                            if (resource.VisibleOnSite)
                            {
                                <li><i class="fa fa-lg @resource.FAIconClass" aria-hidden="true"></i> <strong><a href="@resource.TargetUrl">@resource.Title</a></strong> @resource.Description (<a href="http://martink.me/@resource.ShortUrl">Short link</a>)</li>
                            }
                        }
                    </ul>
                </div>
            </div>*@
        </div>
    </div>
}