@inject Microsoft.Extensions.Options.IOptions<PersonaliseOptions> opt

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - from Martin Kearn</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>

    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    @RenderSection("head", required: false)

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-controller="Home" asp-action="Index" class="navbar-brand">@(opt.Value.ShortName).me</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Speaking" asp-action="Index">Speaking</a></li>
                    <li><a asp-controller="Links" asp-action="Index">Links</a></li>
                    <li><a asp-controller="Articles" asp-action="Index">Articles</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right  hidden-xs">
                    <li><a href="@(opt.Value.TwitterHome)"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a></li>
                    <li><a href="@(opt.Value.LinkedInHome)"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></li>
                    <li><a href="@(opt.Value.SkypeHome)"><i class="fa fa-skype fa-lg" aria-hidden="true"></i></a></li>
                    <li><a href="@(opt.Value.GithubHome)"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a></li>
                    <li><a href="@(opt.Value.StackOverflowHome)"><i class="fa fa-stack-overflow fa-lg" aria-hidden="true"></i></a></li>
                    <li><a href="mailto:@(opt.Value.EmailAddress)?Subject=Enquiry%20from%20@(opt.Value.ShortName).me"><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i></a></li>
                </ul>
                @*@await Html.PartialAsync("_LoginPartial")*@
            </div>
        </div>
    </div>

    @RenderBody()

    <footer class="footer container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p>Don't be a stranger...</p>
                    <a href="@(opt.Value.TwitterHome)"><i class="fa fa-twitter fa-2x footer-icon" aria-hidden="true"></i></a>
                    <a href="@(opt.Value.LinkedInHome)"><i class="fa fa-linkedin fa-2x footer-icon" aria-hidden="true"></i></a>
                    <a href="@(opt.Value.SkypeHome)"><i class="fa fa-skype fa-2x footer-icon" aria-hidden="true"></i></a>
                    <a href="@(opt.Value.GithubHome)"><i class="fa fa-github fa-2x footer-icon" aria-hidden="true"></i></a>
                    <a href="@(opt.Value.StackOverflowHome)"><i class="fa fa-stack-overflow fa-2x footer-icon" aria-hidden="true"></i></a>
                    <a href="mailto:@(opt.Value.EmailAddress)?Subject=Enquiry%20from%20@(opt.Value.ShortName).me"><i class="fa fa-envelope-o fa-2x footer-icon" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </footer>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
    </environment>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-77728241-1', 'auto');
        ga('send', 'pageview');
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
