@inject Microsoft.Extensions.Options.IOptions<PersonaliseOptions> opt
@model evangelist_site.ViewModels.ArticlesViewModels.IndexViewModel

@{
    ViewData["Title"] = "Articles";
}

<div class="jumbotron jumbotron-articles">
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <p>I adopt a 'learn in public' approach to blogging.</p>
        <p>Whenever I learn something new, I try to capture it in a blog article.</p>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>This is just a snap-shot of my most recent articles. You can see all of them at my blog site: <a href="@opt.Value.BlogUrl">@opt.Value.BlogUrl</a></p>
                @foreach (var article in Model.Articles)
                { 
                    <h2><a href="@article.Link">@article.Title</a></h2>
                    <p><small>@article.PublishDate.ToString("dd MMM yyyy")</small></p>
                    <p>@article.Description</p>
                    <p><a href="@article.Link" class="btn btn-default btn-default" >Read More</a></p>
                    <hr />
                }
                @*<h2>Coming soon</h2>
                <p>This section will soon show my latest articles, but for now just go directly to my blog at <a href="https://blogs.msdn.microsoft.com/martinkearn/">https://blogs.msdn.microsoft.com/martinkearn/</a></p>*@
            </div>
        </div>
    </div>
</div>
