@model evangelist_site.ViewModels.SpeakingViewModels.TalkViewModel

@{
    ViewData["Title"] = Model.Talk.Title;
}

<div class="jumbotron jumbotron-speaking">
    <div class="container">
        <h1>@Model.Talk.Title</h1>
        <p>This is one of my past talks.</p>
    </div>
</div>

<div class="container-fluid ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Talk Title</h2>
                <p>@Model.Talk.Title</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Talk Description</h2>
                <p>@Model.Talk.Description</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Suitable Audience</h2>
                <p>@Model.Talk.Audience</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Technologies Covered</h2>
                <p>@Model.Talk.Technologies</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Typical Time Range</h2>
                <p>This is just a typical time range, most talks can be adapted to suit any time frame so please ask if you need something different</p>
                <p>@Model.Talk.Time</p>
            </div>
        </div>
    </div>
</div>

@if (Model.Resources.Count() > 0)
{
<div class="container-fluid ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Associated Links</h2>
                <p>These are links to articles, GitHub repos, videos, slides etc which are associated with this talk.</p>
                <ul>
                    @foreach (var r in Model.Resources)
                    {
                        <li class="list-unstyled">
                            <i class="fa fa-lg @r.FAIconClass" aria-hidden="true"></i>
                            <a href="@r.TargetUrl">@r.Title</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
}

<div class="container-fluid ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a asp-controller="Speaking" asp-action="Index" class="btn btn-primary" ><i class="fa fa-angle-double-left" aria-hidden="true"></i> See all talks</a>
            </div>
        </div>
    </div>
</div>

