@model evangelist_site.ViewModels.ResourcesViewModels.CreateViewModel

@{
    Layout = "_LayoutAdmin";
}

@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Create</h2>

                <form asp-action="Create">
                    <div class="form-horizontal">
                        <h4>Resource</h4>
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Resource.Title" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Resource.Title" class="form-control" />
                                <span asp-validation-for="Resource.Title" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Resource.Description" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Resource.Description" class="form-control" />
                                <span asp-validation-for="Resource.Description" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Resource.FAIconClass" class="col-md-2 control-label">FAIconClass <a href="#" data-toggle="modal" data-target="#famodal"><i class="fa fa-question-circle" aria-hidden="true"></i></a></label>
                            <div class="col-md-10">
                                <input asp-for="Resource.FAIconClass" class="form-control" />
                                <span asp-validation-for="Resource.FAIconClass" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Resource.ShortUrl" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Resource.ShortUrl" class="form-control" />
                                <span asp-validation-for="Resource.ShortUrl" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Resource.TargetUrl" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Resource.TargetUrl" class="form-control" />
                                <span asp-validation-for="Resource.TargetUrl" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    <input asp-for="Resource.VisibleOnSite" />
                                    <label asp-for="Resource.VisibleOnSite"></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Resource Groups</label>
                            <div class="col-md-10">
                                @foreach (var rg in Model.ResourceGroups)
                                {
                                    <input type="checkbox" id="@rg.Value" name="ResourceGroupIds" value="@rg.Value" />
                                    <small><label for="@rg.Value">@rg.Text</label></small>
                                    <br />
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Talks</label>
                            <div class="col-md-10">
                                @foreach (var t in Model.Talks)
                                {
                                    <input type="checkbox" id="@t.Value" name="TalkIds" value="@t.Value" />
                                    <small><label for="@t.Value">@t.Text</label></small>
                                    <br />
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </form>

                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FA icons Modal -->
@Html.Partial("_FAModalPartial")


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
