@model evangelist_site.Models.Resource

@{
    Layout = "_LayoutAdmin";
}

@{
    ViewData["Title"] = "Delete";
}

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Delete</h2>

                <h3>Are you sure you want to delete this?</h3>
                <div>
                    <h4>Resource</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.FAIconClass)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.FAIconClass)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.ShortUrl)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.ShortUrl)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.TargetUrl)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.TargetUrl)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Title)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Title)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.VisibleOnSite)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.VisibleOnSite)
                        </dd>
                    </dl>

                    <form asp-action="Delete">
                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-default" /> |
                            <a asp-action="Index">Back to List</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


